# Configuration Supabase
# Remplacez ces valeurs par vos vraies clés Supabase
VITE_SUPABASE_URL=https://tdxymrpslyihajtnylcu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkeHltcnBzbHlpaGFqdG55bGN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYwNDk1MTIsImV4cCI6MjA3MTYyNTUxMn0.wStW2zpqExQ4K6PYZdrnuQNjVMgxMJkaZOouRAdY83s
 
# Configuration de l'application
VITE_APP_NAME=ALVINA SHOP
VITE_APP_VERSION=1.0.0 